*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(34, 19, 19);

}
.card{
    position:absolute;
    width: 400px;
    /* height: 400px; */
    background-color: rgb(210, 245, 245);
    border-radius: 37px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 22px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    font-size: xx-large;
    
}

.center>p{
    font-size: 14px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.col-1{
    margin-left: 8px;
    padding: 6px;
}
.col-1>i{
    padding: 5px;
    margin: 5px;
}
.col-2{
   margin-right: 54px;
   margin-bottom: 4px;
}
i{
    margin-right: 16px;
    margin-bottom: 8px;
}